body{
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 240px 0;
}

p{
    margin-top: 60px;
}